<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://expath.org/ns/pkg"
    name="http://exist-db.org/xquery/semver-xq"
    abbrev="semver-xq"
    version="@version@"
    spec="1.0">
    <title>@title@</title>
    <dependency processor="http://exist-db.org" semver-min="5.0.0"/>
    <xquery>
        <namespace>http://exist-db.org/xquery/semver</namespace>
        <file>semver.xqm</file>
    </xquery>
</package>
